{% extends 'base.html' %}
{% block title %}Spark Rooms{% endblock %}



{% block body %}

{% if rooms|length > 0 %}
    <div class="alert alert-success">
        <strong>Success!</strong>
    </div>
{% else %}
    <div class="alert alert-danger">
        <strong>No items found!!</strong>
    </div>
{% endif %}


<div class="container-fluid">

    <div class="col-sm-4">
        <h2>Spark Rooms</h2>
        <p>Here's a list of all your spark rooms
    </div>
    <div class="row">

        <div class="col-sm-4 col-sm-offset-9">
            <form action="/rooms" method="post">
            <button type="submit" class="btn btn-primary">Refresh</button>
            </form>
        </div>

    </div>


    <div class="row">
      <table id="rooms" class="table">
        <thead>
          <tr>
            <th>Room name</th>
{# Begin lab exercise 3 1/2 #}
            <th># Members</th>
{# End lab excercise 3 1/2 #}
            <th>Room Id</th>
{#Begin Lab Exercise 2 Solution 1/2#}
            <th>Last Activity</th>
{#End Lab Exercise 2 Solution 1/2#}
            <th>Room Created</th>
          </tr>
        </thead>
        <tbody>

            {% for r in rooms %}
                <tr>
                <td>{{ r['title'] }}</td>
{# Begin Lab Exercise 3 2/2 #}
                <td>{{ r['members'] }}</td>
{# Begin Lab Exercise 3 2/2 #}
                <td>{{ r['id'] }}</td>
{#Begin Lab Exercise 2 Solution 2/2#}
                <td>{{ r['lastActivity'] }}</td>
{#End Lab Exercise 2 Solution 2/2#}

                <td>{{ r['created'] }}</td>
                </tr>

            {% endfor %}

        </tbody>
      </table>
    </div>
</div>
{#Bonus Exercise #1 Solution#}
<script>
$(document).ready(function(){
    $('#rooms').DataTable();
});
</script>

{% endblock %}
